body {
    margin: 0;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.container {
    max-width: 1000px;
    margin: auto;
}

a {
    text-decoration: none;
}

#home_container {
    min-height: 100vh;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: -2;
        filter: blur(2px);
        background: #6f00e6e3;
    }
    .title_content {
        text-align: center;
        padding-top: 20px;
        h1 {
            color: #fff;
            font-size: 3em;
            margin: 0;
            font-weight: 100;
            @media (max-width: 760px) {
                font-size: 32px;
                padding: 10px;
            }
        }
    }

    .row-container {
        height: 100%;
        display: flex;
        align-items: center;
        display: grid;
        padding: 10px;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        align-items: center;
        gap: 20px;
        margin-top: 5%;
        .item {
            border: 2px solid #460788e3;
            border-radius: 10px;
            transition: 0.3s;
            min-height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: #4507883b;
            h2 {
                font-size: 34px;
                color: #fff;
                font-weight: 100;
            }
            span {
                color: #c318b0!important;
                text-shadow: 0px 0px 11px #d1115b;
                font-size: 30px;
            }
            &:hover {
                transform: scale(0.9);
            }
        }
    }
}